<?xml version="1.0"?>
<launch>

  <arg name="debug" default="true" />
  <!-- start gdb in a new xwindow: see https://github.com/ros/ros_comm/issues/223 -->
  <arg name="debug_new_win" default="true" />

  <arg     if="$(arg debug)" name="launch_prefix"
    value="gdb -x $(find urdf_builder)/launch/gdb_settings.gdb --ex run --args" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />

  <!-- bit of a dance to only start in a new window if 'debug == true'
       to be rewritten in Jade -->
  <arg     if="$(arg debug_new_win)" name="launch_prefix2" value="xterm -e" />
  <arg unless="$(arg debug_new_win)" name="launch_prefix2" value="" />

  <arg     if="$(arg debug)" name="launch_prefix3"
    value="$(arg launch_prefix2) $(arg launch_prefix)" />
  <arg unless="$(arg debug)" name="launch_prefix3" value="$(arg launch_prefix)" />

  <node name="urdf_editor" pkg="urdf_builder" type="urdf_builder" required="true"
    launch-prefix="$(arg launch_prefix3)" />
</launch>
