<?xml version="1.0" ?>
<robot name="ur5">
    <material name="LightGrey">
        <texture />
        <color rgba="0.7 0.7 0.7 1" />
    </material>
    <link name="base_link">
        <inertial>
            <mass value="4" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0.00443333" ixy="0" ixz="0" iyy="0.00443333" iyz="0" izz="0.0072" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://ur_description/meshes/ur5/visual/Base.dae" scale="1 1 1" />
            </geometry>
            <material name="LightGrey">
                <texture />
                <color rgba="0.7 0.7 0.7 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://ur_description/meshes/ur5/collision/base.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="ee_link">
        <collision>
            <origin xyz="-0.01 0 0" rpy="0 -0 0" />
            <geometry>
                <box size="0.01 0.01 0.01" />
            </geometry>
        </collision>
    </link>
    <link name="forearm_link">
        <inertial>
            <mass value="2.275" />
            <origin xyz="0 0 0.25" rpy="0 -0 0" />
            <inertia ixx="0.0494433" ixy="0" ixz="0" iyy="0.0494433" iyz="0" izz="0.004095" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://ur_description/meshes/ur5/visual/Forearm.dae" scale="1 1 1" />
            </geometry>
            <material name="LightGrey">
                <texture />
                <color rgba="0.7 0.7 0.7 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://ur_description/meshes/ur5/collision/forearm.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="shoulder_link">
        <inertial>
            <mass value="3.7" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0.0102675" ixy="0" ixz="0" iyy="0.0102675" iyz="0" izz="0.00666" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://ur_description/meshes/ur5/visual/Shoulder.dae" scale="1 1 1" />
            </geometry>
            <material name="LightGrey">
                <texture />
                <color rgba="0.7 0.7 0.7 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://ur_description/meshes/ur5/collision/shoulder.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="upper_arm_link">
        <inertial>
            <mass value="8.393" />
            <origin xyz="0 0 0.28" rpy="0 -0 0" />
            <inertia ixx="0.226891" ixy="0" ixz="0" iyy="0.226891" iyz="0" izz="0.0151074" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://ur_description/meshes/ur5/visual/UpperArm.dae" scale="1 1 1" />
            </geometry>
            <material name="LightGrey">
                <texture />
                <color rgba="0.7 0.7 0.7 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://ur_description/meshes/ur5/collision/upper_arm.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="world" />
    <link name="wrist_1_link">
        <inertial>
            <mass value="1.219" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0.111173" ixy="0" ixz="0" iyy="0.111173" iyz="0" izz="0.21942" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://ur_description/meshes/ur5/visual/Wrist1.dae" scale="1 1 1" />
            </geometry>
            <material name="LightGrey">
                <texture />
                <color rgba="0.7 0.7 0.7 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://ur_description/meshes/ur5/collision/wrist_1.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="wrist_2_link">
        <inertial>
            <mass value="1.219" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0.111173" ixy="0" ixz="0" iyy="0.111173" iyz="0" izz="0.21942" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://ur_description/meshes/ur5/visual/Wrist2.dae" scale="1 1 1" />
            </geometry>
            <material name="LightGrey">
                <texture />
                <color rgba="0.7 0.7 0.7 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://ur_description/meshes/ur5/collision/wrist_2.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="wrist_3_link">
        <inertial>
            <mass value="0.1879" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0.0171365" ixy="0" ixz="0" iyy="0.0171365" iyz="0" izz="0.033822" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://ur_description/meshes/ur5/visual/Wrist3.dae" scale="1 1 1" />
            </geometry>
            <material name="LightGrey">
                <texture />
                <color rgba="0.7 0.7 0.7 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://ur_description/meshes/ur5/collision/wrist_3.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="ee_fixed_joint" type="fixed">
        <origin xyz="0 0.0823 0" rpy="0 -0 1.5708" />
        <axis xyz="0 0 0" />
        <parent link="wrist_3_link" />
        <child link="ee_link" />
    </joint>
    <joint name="elbow_joint" type="revolute">
        <origin xyz="0 -0.1197 0.425" rpy="1.22465e-16 0.523599 1.22465e-16" />
        <axis xyz="0 1 0" />
        <parent link="upper_arm_link" />
        <child link="forearm_link" />
        <dynamics damping="0" friction="0" />
        <limit effort="150" velocity="3.15" lower="-6.28319" upper="6.28319" />
    </joint>
    <joint name="shoulder_lift_joint" type="revolute">
        <origin xyz="0 0.13585 0" rpy="3.14159 1.57079 3.14159" />
        <axis xyz="0 1 0" />
        <parent link="shoulder_link" />
        <child link="upper_arm_link" />
        <dynamics damping="0" friction="0" />
        <limit effort="150" velocity="3.15" lower="-6.28319" upper="6.28319" />
    </joint>
    <joint name="shoulder_pan_joint" type="revolute">
        <origin xyz="0 0 0.089159" rpy="0 -0 0" />
        <axis xyz="0 0 1" />
        <parent link="base_link" />
        <child link="shoulder_link" />
        <dynamics damping="0" friction="0" />
        <limit effort="150" velocity="3.15" lower="-6.28319" upper="6.28319" />
    </joint>
    <joint name="world_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 -0 0" />
        <axis xyz="0 0 0" />
        <parent link="world" />
        <child link="base_link" />
    </joint>
    <joint name="wrist_1_joint" type="revolute">
        <origin xyz="0 0 0.39225" rpy="3.14159 1.57079 3.14159" />
        <axis xyz="0 1 0" />
        <parent link="forearm_link" />
        <child link="wrist_1_link" />
        <dynamics damping="0" friction="0" />
        <limit effort="28" velocity="3.2" lower="-6.28319" upper="6.28319" />
    </joint>
    <joint name="wrist_2_joint" type="revolute">
        <origin xyz="0 0.093 0" rpy="0 -0 0" />
        <axis xyz="0 0 1" />
        <parent link="wrist_1_link" />
        <child link="wrist_2_link" />
        <dynamics damping="0" friction="0" />
        <limit effort="28" velocity="3.2" lower="-6.28319" upper="6.28319" />
    </joint>
    <joint name="wrist_3_joint" type="revolute">
        <origin xyz="0 0 0.09465" rpy="0 -0 0" />
        <axis xyz="0 1 0" />
        <parent link="wrist_2_link" />
        <child link="wrist_3_link" />
        <dynamics damping="0" friction="0" />
        <limit effort="28" velocity="3.2" lower="-6.28319" upper="6.28319" />
    </joint>
</robot>
